<h1>Listings <%= link_to 'Add New Listing', new_admin_listing_path, class: 'btn btn-primary pull-right' %></h1>
<p>Shown below are the listings you've created.</p>
<table class="table table-bordered">
  <tr>
    <th width="5%">ID</th>
    <th>Address</th>
    <th width="10%">Status</th>
    <th width="20%">Action</th>
  </tr>
  <% if @listings.each do |listing| %>
    <tr>
      <td><%= listing.id %></td>
      <td><%= listing.display_address %></td>
      <td><%= listing.status === 1 ? 'Active' : 'Inactive' %></td>
      <td>
        <table width="100%">
          <tr>
            <td width="45%"><%= link_to 'Update', edit_admin_listing_path(listing), class: 'btn btn-primary btn-block' %></td>
            <td width="10%"></td>
            <td width="45%"><%= link_to 'Destroy', admin_listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
          </tr>
        </table>
      </td>
    </tr>
  <% end.empty? %>
    <tr>
      <td colspan="4">You have no listings</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
