<%= form_for [:admin, @department] do |f| %>
  <% if @department.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>Warning - <%= pluralize(@department.errors.count, "error") %> prohibited this data from being saved... </strong></p>
      <ul>
        <% @department.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group-last">
          <%= f.text_field :value, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <%= f.submit class:'btn btn-primary' %>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
<% end %>
