<h1>Departments <%= link_to_if(is_admin?, 'Add New Department', new_admin_department_path, class: 'btn btn-primary pull-right'){} %></h1>
<p>Shown below are the departments that can be assigned to a property listing.</p>
<%= render 'shared/alerts' %>
<table class="table table-bordered">
  <tr>
    <th width="5%" style="text-align:center">ID</th>
    <th>Value</th>
    <% if is_admin? %>
      <th width="10%">Action</th>
    <% end %>
  </tr>
  <% if @departments.each do |department| %>
    <tr>
      <td style="text-align:center"><%= department.id %></td>
      <td><%= department.value %></td>
      <% if is_admin? %>
        <td>
          <table width="100%">
            <tr>
              <td width="45%"><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_department_path(department), class: 'btn btn-primary btn-block' %></td>
              <td width="10%"></td>
              <td width="45%"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_department_path(department), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>
    <% end.empty? %>
      <tr>
        <td colspan="3">You have no departments</td>
      </tr>
    <% end %>
</table>
<%= will_paginate @departments, renderer: BootstrapPagination::Rails %>
