<h1>Departments <%= link_to_if(is_admin?, 'Add New Department', new_admin_department_path, class: 'btn btn-primary pull-right'){} %></h1>
<p>Shown below are the departments that can be assigned to a property listing.</p>
<table class="table table-bordered">
  <tr>
    <th width="5%">ID</th>
    <th>Value</th>
    <% if is_admin? %>
      <th width="20%">Action</th>
    <% end %>
  </tr>
  <% if @departments.each do |department| %>
    <tr>
      <td><%= department.id %></td>
      <td><%= department.value %></td>
      <% if is_admin? %>
        <td>
          <table width="100%">
            <tr>
              <td width="45%"><%= link_to 'Update', edit_admin_department_path(department), class: 'btn btn-primary btn-block' %></td>
              <td width="10%"></td>
              <td width="45%"><%= link_to 'Destroy', admin_department_path(department), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>
    <% end.empty? %>
      <tr>
        <td colspan="3">You have no departments</td>
      </tr>
    <% end %>
</table>
<%= will_paginate @departments, renderer: BootstrapPagination::Rails %>
