<h1>Sale Types <%= link_to_if(is_admin?, 'Add New Sale Type', new_admin_sale_type_path, class: 'btn btn-primary pull-right'){} %></h1>
<p>Shown below are the sale types that can be assigned to a property listing.</p>
<%= render 'shared/alerts' %>
<table class="table table-bordered">
  <tr>
    <th width="5%">ID</th>
    <th>Value</th>
    <% if is_admin? %>
      <th width="10%">Action</th>
    <% end %>
  </tr>
  <% if @saletypes.each do |saletype| %>
    <tr>
      <td><%= saletype.id %></td>
      <td><%= saletype.value %></td>
      <% if is_admin? %>
        <td>
          <table width="100%">
            <tr>
              <td width="45%"><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_sale_type_path(saletype), class: 'btn btn-primary btn-block' %></td>
              <td width="10%"></td>
              <td width="45%"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_sale_type_path(saletype), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>
  <% end.empty? %>
    <tr>
      <td colspan="3">You have no sale types</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @saletypes, renderer: BootstrapPagination::Rails %>
