<h1>Tenures <%= link_to_if(is_admin?, 'Add New Tenure', new_admin_tenure_path, class: 'btn btn-primary pull-right'){} %></h1>
<p>Shown below are the tenures that can be assigned to a property listing.</p>
<%= render 'shared/alerts' %>
<table class="table table-bordered">
  <tr>
    <th width="5%" style="text-align:center">ID</th>
    <th>Value</th>
    <% if is_admin? %>
      <th width="10%">Action</th>
    <% end %>
  </tr>
  <% if @tenures.each do |tenure| %>
    <tr>
      <td style="text-align:center"><%= tenure.id %></td>
      <td><%= tenure.value %></td>
      <% if is_admin? %>
        <td>
          <table width="100%">
            <tr>
              <td width="45%"><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_admin_tenure_path(tenure), class: 'btn btn-primary btn-block' %></td>
              <td width="10%"></td>
              <td width="45%"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_tenure_path(tenure), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>
  <% end.empty? %>
    <tr>
      <td colspan="3">You have no tenures</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @tenures, renderer: BootstrapPagination::Rails %>
