<h1>Ages <%= link_to_if(is_admin?, 'Add New Age', new_admin_age_path, class: 'btn btn-primary pull-right'){} %></h1>
<p>Shown below are the ages that can be assigned to a property listing.</p>
<table class="table table-bordered">
  <tr>
    <th width="5%">ID</th>
    <th>Value</th>
    <% if is_admin? %>
      <th width="20%">Action</th>
    <% end %>
  </tr>
  <% if @ages.each do |age| %>
    <tr>
      <td><%= age.id %></td>
      <td><%= age.value %></td>
      <% if is_admin? %>
        <td>
          <table width="100%">
            <tr>
              <td width="45%"><%= link_to 'Update', edit_admin_age_path(age), class: 'btn btn-primary btn-block' %></td>
              <td width="10%"></td>
              <td width="45%"><%= link_to 'Destroy', admin_age_path(age), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
            </tr>
          </table>
        </td>
      <% end %>
    </tr>
  <% end.empty? %>
    <tr>
      <td colspan="3">You have no ages</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @ages, renderer: BootstrapPagination::Rails %>
